/* html {
    height: 100%;
 }
 body {
    height: 100%;
    margin: 0;
    padding: 0;
 } */
 section {
  /* background-color: rebeccapurple   ; */
  font-family: Courier;
  color:blue;
  font-size:20px;
 }
 #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
 }